@if $default-grid == true {

/*-------------
    Columns
-------------*/

  /* Twelve columns wide */
  .column-twelve {
    width: $grid-column-twelve;
  }

  /* Eleven columns wide */
  .column-eleven {
    width: $grid-column-eleven;
  }

  /* Ten columns wide */
  .column-ten {
    width: $grid-column-ten;
  }

  /* Nine columns wide */
  .column-nine {
    width: $grid-column-nine;
  }

  /* Eight columns wide */
  .column-eight {
    width: $grid-column-eight;
  }

  /* Seven columns wide */
  .column-seven {
    width: $grid-column-seven;
  }

  /* Six columns wide */
  .column-six {
    width: $grid-column-six;
  }

  /* Five columns wide */
  .column-five {
    width: $grid-column-five;
  }

  /* Four columns wide */
  .column-four {
    width: $grid-column-four;
  }

  /* Three columns wide */
  .column-three {
    width: $grid-column-three;
  }

  /* Two columns wide */
  .column-two {
    width: $grid-column-two;
  }

  /* One column wide */
  .column-one {
    width: $grid-column-one;
  }

}
