/* == Box == */

.box {
  padding: ($base-spacing-unit * 2) $base-spacing-unit;
}

  .box--brand {
    background-color: $color-brand;
    color: $color-background;
  }

  .box__wrapper {
    margin: 0 auto;
    max-width: $container-width;
  }

  .box__wrapper--brand {
    @extend %text--bold;
    @extend %text--centered;
  }
