/* == Buttons == */

.button {
  padding: ($base-spacing-unit / 2) ($base-spacing-unit);
  white-space: nowrap;
  cursor: pointer;

  &,
  &:hover {
    @extend .link--hidden;
  }

  &:focus,
  &:active {
    outline:none;
  }
}

  .button--active {
    background-color: $color-brand;
    color: $color-background;
  }

  .button--disabled {
    background-color: $color-brand-light;
    color: $color-background;
  }
