/* == Shared == */

// Typography
%text--bold {
  font-weight: bold; 
}

%text--italic {
  font-style: italic;
}

%text--centered {
  text-align: center;
}

%text--small {
  font-size: $base-font-size * 0.875;
}

%text--tiny {
  font-size: $base-font-size * 0.75;
}

// Links
.link--hidden {
  border-bottom: 1px solid transparent;
}
