// == Variables ==

// Colors
$color-background: #fdfdfd;
$color-primary: #444;
$color-secondary: lighten($color-primary, 50%);
$color-brand: #9b4c58;
$color-brand-light: lighten($color-brand, 25%);

// Typography
$base-font-weight: 400;
$base-font-percent: 125%;
$base-line-height: 1.5;
$base-font-family: "Lato", Helvetica, Arial, Sans-serif;
$base-font-size: 1em;

// Spacing
$base-spacing-unit: 1.2em;

// Layout
$container-width: 45em;

// Magic number for the sticky footer... :C
$footer-height: 8.3em;

// Breakpoints
$breakpoint-palm: 30em;
$breakpoint-lap: 50em;
$breakpoint-desk: 70em;
