/*----------------
    Navigation
----------------*/

%nav {
  list-style: none;
  @extend %spacing-zero-left;

  li {
    display: inline-block; 
    margin-right: $spacing-unit-half;

    &:last-child {
      @extend %spacing-zero-right;
    }

  }

}
