//========
//  Body
//========

//--------
//  Font
//--------

$body-font-face: "Sanchez", Georgia, Times New Roman, Serif;
$body-font-size: 137.5%;
$body-font-weight: 400;
$body-font-color: #fefefe;
$body-line-height: 1.5;
