//========
//  Grid
//========

$default-grid: true;
$grid-container-width: 800px;
$grid-gutter-width: 2.85%;

//-----------
//  Columns
//-----------

$grid-column-twelve: 99.99%;
$grid-column-eleven: 91.42%;
$grid-column-ten: 82.85%;
$grid-column-nine: 74.28%;
$grid-column-eight: 65.71%;
$grid-column-seven: 57.14%;
$grid-column-six: 48.57%;
$grid-column-five: 40%;
$grid-column-four: 31.43%;
$grid-column-three: 22.86%;
$grid-column-two: 14.29%;
$grid-column-one: 5.72%;
