//==========
//  Shared
//==========

//------------
//  Spacings
//------------

// Base
$spacing-unit-base: 1.5em;
$spacing-unit-half: 0.75em;

// Common
$spacing-unit-mini: 0.25em;
$spacing-unit-small: 0.5em;
$spacing-unit-medium: 1em;
$spacing-unit-big: 2em;
