//==============
//  Typography
//==============

//------------
//  Headings
//------------

$heading-font-face: "Noto Sans", Helvetica, Arial, Sans-serif;
$heading-font-weight: 700;
$heading-font-color: $body-font-color;
$heading-line-height: 1.3;
$heading-base-margin: 0.125em 0;

//--------------
//  Paragraphs
//--------------

$base-font-size: 1em;

//--------
//  Code
//--------

$code-font-face: "Liberation Mono", Consolas, "DejaVu Sans Mono", "Menlo", Monaco, "Andale Mono", monospace;
