      <article class="post">
        {% if post.external-url %}
          <h1 class="post__title">
            <a class="link--hidden" href="{{ post.external-url }}" alt="{{ post.title }}">
              {{ post.title }} &rarr;
            </a>
          </h1>
          <p class="post__meta">
            Posted on {{ post.date | date: "%B %e, %Y" }}{% if post.tags %} in {% for tag in post.tags %}<a href="/blog/tag/{{ tag }}" alt="{{ tag }}">{{ tag }}</a>{% if forloop.last %} {% else %}, {% endif %}{% endfor %}{% endif %}<a href="{{ post.url }}" alt="Permalink – {{ post.title }}" class="post__meta--permalink link--hidden">&infin;</a>
          </p>
        {% else %}
          <h1 class="post__title">
            <a class="link--hidden" href="{{ post.url }}" alt="{{ post.title }}">
              {{ post.title }}
            </a>
          </h1>
          <p class="post__meta">
            Posted on {{ post.date | date: "%B %e, %Y" }}{% if post.tags %} in {% for tag in post.tags %}<a href="/blog/tag/{{ tag }}" alt="{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}
          </p>
        {% endif %}
        {{ post.content }}
      </article><!-- .post -->
