      <footer class="l-footer box box--odd">
        <div class="box__wrapper">
          <p class="compressed">
            Copyright &copy;
            <a href="/" alt="{{ site.name }} – {{ site.description }}">
              {{ site.name }}
            </a>
            {{ site.time | date: "%Y" }}.
            <a href="/feed.xml" alt="Subscribe">Subscribe</a>.
          </p><!-- .compressed -->
        </div><!-- .box__wrapper -->
      </footer><!-- .l-footer .box .box--odd -->
    </div><!-- .l-container -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
    <script src="/assets/js/main/global.js"></script>
  </body>
</html>
