<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} // {{ site.name }}</title>
    <meta name="description" content="{{ site.name }} - {{ site.description }}">
    <meta name="author" content="Ellen Gummesson">
    <link rel="author" href="/humans.txt" type="text/plain">
    <link rel="me" href="https://plus.google.com/u/0/108569513108478415869/">
  <link rel="canonical" href="http://ellengummesson.com/">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="{{ site.name }} / {{ site.description }} / RSS Feed">
    <link rel="sitemap" href="/sitemap.xml" type="application/xml" title="{{ site.name }} / {{ site.description }} / Sitemap">
  <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.png" type="img/png">
  <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <header class="branding">
      <a href="/" title="{{ site.name }} // {{ site.description }}" alt="{{ site.name }} // {{ site.description }}">
        <img src="/assets/logo/logo.png" class="logo" />
      </a>