<article class="post">
  {% if post.external-link %}
    <h1>
      <a href="{{ post.external-link }}" alt="{{ post.title }}" title="{{ post.title }}">
        {{ post.title }} <span class="mini gray">&rarr;</span>
      </a>
    </h1>
    <p class="small centered italic">
    Posted on {{ post.date | date: "%B %e, %Y" }} {% if post.tags %} in {% for tag in post.tags %} <a href="/blog/tag/{{ tag }}" alt="{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% if forloop.last %} {% else %},{% endif %}{% endfor %} {% endif %} <a href="{{ site.url }}{{ post.url }}" alt="Permalink: {{ post.title }}" title="Permalink: {{ post.title }}" class="gray border-none">&#8734;</a>
    </p><!-- .small -centered .italic -->
  {% else %}
    <h1>
      <a href="{{ site.url }}{{ post.url }}" alt="{{ post.title }}" title="{{ post.title }}">
        {{ post.title }}
      </a>
    </h1>
    <p class="small centered italic">
      Posted on {{ post.date | date: "%B %e, %Y" }} {% if post.tags %} in {% for tag in post.tags %} <a href="/blog/tag/{{ tag }}" alt="{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% if forloop.last %} {% else %},{% endif %}{% endfor %} {% endif %}
    </p><!-- .small -centered .italic -->
  {% endif %}
    <span class="justified">
      {{ post.content }}
    </span><!-- .justified -->
</article><!-- .post -->
