    <nav class="box  l-nav">
      <div id="js-mobile-nav" class="box__wrapper  box__wrapper--brand">
        <ul id="js-nav" class="nav  js-nav">
          <li>
            <a class="link--hidden" href="/">
              Home
            </a>
          </li>
          <li>
            <a class="link--hidden" href="/about">
              About
            </a>
          </li>
          <li>
            <a class="link--hidden" href="/archives">
              Archives
            </a>
          </li>
          <li>
            <a class="link--hidden" href="/contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav><!-- .l-nav -->
