          <ul class="l-nav nav">
            <li>
              <a class="button button--odd br-button--aligned" href="/" alt="Home" title="Home">Home</a>
            </li>
            <li>
              <a class="button button--odd br-button--aligned" href="/about" alt="About" title="About">About</a>
            </li>
            <li>
              <a class="button button--odd br-button--aligned" href="/archives" alt="Archives" title="Archives">Archives</a>
            </li>
            <li>
              <a class="button button--odd br-button--aligned" href="/contact" alt="Contact" title="Contact">Contact</a>
            </li>
          </ul><!-- .l-nav .nav -->
        </div><!-- .box__wrapper -->
      </header><!-- .l-header .box .box--odd -->
