      <nav class="island  l-pagination">
        <div class="wrapper  wrapper--centered">
          <ul class="nav">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <li>
              <a class="button  button--active" href="/" alt="Next">&larr; Next</a>
            </li>
            {% else %}
            <li>
              <a class="button  button--active" href="/blog/page/{{ paginator.previous_page }}" alt="Next">&larr; Next</a>
            </li>
            {% endif %}
          {% else %}
            <li>
              <a class="button  button--disabled" alt="">&larr; Next</a>
            </li>
          {% endif %}
          {% if paginator.next_page %}
            <li>
              <a class="button  button--active" href="/blog/page/{{ paginator.next_page }}" alt="Previous">Previous &rarr;</a>
            </li>
          {% else %}
            <li>
              <a class="button  button--disabled" alt="">Previous &rarr;</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </nav><!-- .l-pagination -->
