/*======================
    ellengummesson.com
========================

    + Body
      - Selection
    + Structure
    + Typography
      - Headings
      - Sizes
      - Annotations
      - Alignment
      - Links
      - Footnotes
      - Quotes
      - Code
    + Margins
    + Lists
    + Navigation
      - Pagination
    + Images
    + Media Queries

======================*/

/*==========
    Body
==========*/

html {
  -moz-box-sizing         : border-box; 
  -webkit-box-sizing      : border-box;
  box-sizing              : border-box;
  -webkit-font-smoothing  : antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
}

  body {
    font            : 400 150%/ 1.5 "Tinos", Georgia, Times, Serif;
    color           : #333;
    background-color: #fafafa;
  }

/* Selection */

::-webkit-selection {
  color           : #fafafa;
  background-color: #ccc;
}

::-moz-selection {
  color           : #fafafa;
  background-color: #ccc;
}

::selection {
  color           : #fafafa;
  background-color: #ccc;
}

/*===============
    Structure
===============*/

.container {
  width : 720px;
  height: 100%; 
  margin: 0 auto;
}

.branding {
  margin-top: 2.5em;
}

.content {
  margin-top: 2em;
}

  .menu {
    margin-top: 1em;
  }

  .post,
  .page,
  .pagination {
    margin-bottom: 3em;
  }

  .comments {
  margin-top: 3em;
  }

/*================
    Typography
================*/

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin     : 0.125em 0;
  line-height: 1.3;
}

h1, .alpha {
  font-size: 2em;
}

h2, .beta {
  font-size: 1.75em;
}

h3, .gamma {
  font-size: 1.5em;
}

h4, .delta {
  font-size: 1.25em;
}

h5, .epsilon {
  font-size: 1.125em;
}

h6, .zeta {
  font-size: 1em;
}

/* Sizes */

small, .small,
blockquote {
  font-size: 0.875em;
}

.mini,
.footnotes,
code {
  font-size: 0.75em;
}

/* Annotations */

i, .italic,
em, .em,
blockquote,
q,
cite,
.footnotes {
  font-style: italic;
}

b, .bold,
strong, .strong {
  font-weight: bold;
}

hr {
  width           : 40%;
  height          : 1px;
  background-color: #ccc;
  border          : none;
}

/* Alignments */

.centered,
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.justified {
  text-align: justify;
}

/* Links */

a {
  color          : #333;
  text-decoration: none;
  border-bottom  : 1px solid #ccc;
  padding-bottom : 3px;
}

a:hover,
a:focus {
  color: #ccc;
}

a:active {
  position: relative;
  top     : 1px;
}

  .border-none, .border-none a, 
  .menu a,
  h1 a,
  a[rel="footnote"],
  a[rel="reference"] {
    border-bottom: 1px solid transparent;
  }

  .small a {
    padding-bottom: 2px;
  }

  .mini a,
  .footnotes a {
    padding-bottom: 1px;
  }

/* Footnotes */

sup {
  vertical-align: super;
  line-height   : 0;
}

a[rel="footnote"],
a[rel="reference"] {
  margin-left  : 0.15em;
}

  a[rel="footnote"] {
    font-size: 0.625em;
  }

/* Quotes */

q {
  font-size  : 125%;
  text-indent: -0.6em;
}

  q:before {
    content: open-quote;
  }

  q:after {
    content: close-quote;
  }

  q:before, q:after {
    font-size  : 150%;
    line-height: 0;
    color      : #ccc;
  }

q,
cite {
  display: block;
}

  cite:before {
    content: "\2014 \00A0";
  }

blockquote {
  padding: 0 1.5em;
}

blockquote,
pre {
  border-left: 0.25em solid #ccc;
}

/* Code */

pre {
  word-wrap  : normal;
  overflow   : auto; 
  line-height: 1;
  padding    : 0.2em 0.4em 0.4em;
  margin-top : 0.4em;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  padding    : 0.10em 0.25em;
}

pre,
code {
  background-color: #ddd;
}

  pre > code {
    background: none;
    padding   : 0;
}

/*=============
    Margins
=============*/

.margin-standard,
p,
ul,
ol,
blockquote,
pre,
hr, .hr  {
  margin-bottom: 1.5em;
}

.margin-small,
q {
  margin-bottom: 0.5em;
}

.margin-mini {
  margin-bottom: 0.25em;
}

.margin-none,
.nav,
.footnotes li p {
  margin-bottom: 0;
}

/*===========
    Lists
===========*/

ol {
  list-style : decimal;
  margin-left: 1.3em;
}

ul {
  list-style : square;
  margin-left: 0.9em;
}

  ul ul,
  ol ol {
    margin-left: 1.25em;
  }

.list-none {
  list-style: none;
}

.nav,
.list-hz,
.list-none {
  margin-left: 0;
}

/*================
    Navigation
================*/

.nav li,
.list-hz li {
  display: inline-block;
}

  .menu li,
  .list-hz li {
    margin-right: 1.25em;
  }

  .menu li:last-child {
    margin-right: 0;
  }

/* Pagination */

.separator {
  padding: 0 2em;
}

.gray, .gray a {
  color: #ccc;
}

/*============
    Images
============*/

img {
  display  : block;
  margin   : 0 auto;
  max-width: 100%;
  height   : auto;
}

/* Logo */

.logo {
  width : 128px;
  height: 128px;
}

/*===================
    Media Queries
===================*/

@media screen and (max-width: 1024px), screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 137.5%;
  }

}

@media screen and (max-width: 768px), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {

  .container {
    width: 92.5%;
  }

  body {
    font-size: 125.5%;
  }

}

@media screen and (max-width: 640px), screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 112.5%;
  }

    .footnotes li p {
      margin-bottom: 0.25em;
    }

}

@media screen and (max-width: 480px), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 87.5%;
  }

  .logo {
    width : 96px;
    height: 96px;
  }

  a,
  .small a,
  .mini a,
  .footnotes a {
    padding-bottom: 2px;
  }

    .menu li {
      margin-right: 1em;
    }

}

@media screen and (max-width: 320px), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 100%;
  }

  .container {
    width: 90%;
  }

  .logo {
    width : 112px;
    height: 112px;
  }

    .footnotes li p {
      margin-bottom: 0.35em;
    }

}