/*-------------
    Spacing
-------------*/

// None
%spacing-base-none {
  margin: 0;
}

// Centered
%spacing-base-centered {
  margin: 0 auto;
}

// Top
%spacing-base-top {
  margin-top: $spacing-unit-base;
}

%spacing-zero-top {
  margin-top: 0;
}

// Bottom
%spacing-base-bottom {
  margin-bottom: $spacing-unit-base;
}

%spacing-zero-bottom {
  margin-bottom: 0;
}

// Left
%spacing-base-left {
  margin-left: $spacing-unit-base;
}

%spacing-zero-left {
  margin-left: 0;
}

// Right
%spacing-base-right {
  margin-right: $spacing-unit-base;
}

%spacing-zero-right {
  margin-right: 0;
}
