/*------------
    Island
------------*/

.island {
  padding: ($base-spacing-unit * 2) $base-spacing-unit;
}

  .island--banner {
    background-color: $color-brand;
    color: $color-background;
  }
