/*------------
    Layout
------------*/

.l-container {
  min-width: 100%;
  min-height: 100%;
}

.l-nav {
  & li {
    margin-right: $base-spacing-unit * 2; 
  }
}

.l-header {}

  .l-logo {
    font-size: $base-spacing-unit * 2.75;
    margin: ($base-spacing-unit / 4) 0;
  }

.l-main {}

  .l-pagination {
    margin-bottom: $base-spacing-unit;

    & li {
      margin-right: $base-spacing-unit * 2; 
    }
  }

.l-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $base-footer-height;
  width: 100%;
}
