/*------------
    Layout
------------*/

.site-container {}

.site-nav {
  & li {
    margin-right: $base-spacing-unit * 2.75; 
  }
}

.site-header {}

  .site-logo {
    font-size: $base-spacing-unit * 2.75;
    margin: ($base-spacing-unit / 4) 0;
  }

.site-main {}

  .site-pagination {
    @extend %push--bottom;

    & li {
      margin-right: $base-spacing-unit * 2.75; 
    }
  }

.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $base-footer-height;
}
