/*----------
    Post
----------*/

.post {
  margin-bottom: $base-spacing-unit * 3;
  
  &:last-child {
    @extend %flush--bottom;
  }
}

  .post__title {
    @extend %flush--bottom;
  }

  .post__meta {
    @extend %font--bold;
    margin-top: 0;
  }

    .post__title--external,
    .post__meta--permalink {
      color: $color-secondary;
    }
