/*------------
    Shared
------------*/

/* Widths */

%one-whole {
  width: 100%;
}

/* Alignments */

%text--center {
  text-align: center;
}

/* Style */

%font--bold {
  font-weight: bold;
}

%font--italic {
  font-style: italic;
}

/* Sizes */

%font--milli {
  font-size: $base-font-size * 0.875;
}

%font--micro {
  font-size: $base-font-size * 0.75;
}

/* Push */

%push--bottom {
  margin-bottom: $base-spacing-unit;
}

/* Flush */

%flush--bottom {
  margin-bottom: 0;
}
