/*==========
    Body
==========*/

* {
  @include box-sizing(border-box);
}

/*----------
    Body
----------*/

body {
  font: $body-font-weight #{$body-font-size}/#{$body-line-height} $body-font-face;
  color: $body-font-color;
  background-color: $color-brand;
}

/*---------------
    Selection
---------------*/

::selection {
  color: $body-font-color;
  background-color: $color-accent;
}

::-moz-selection {
  color: $body-font-color;
  background-color: $color-accent;
}
