/*-------------
    Buttons
-------------*/

.button {
  display: inline-block;
  padding: 0 $spacing-unit-small;
  cursor: pointer;
  color: $body-font-color;
  vertical-align: middle;
  line-height: 2;
  border: none;
  white-space: nowrap;
  @extend %default-radius;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: none;
  }

}

.button--odd {
  background-color: $color-accent;
}

.button--even {
  background-color: $color-brand;
}

.button--disabled {
  background-color: $color-offset;
  cursor: default;
}
