/*============
    Colors
============*/

%bg-color-alt {
  background-color: $body-alt-color;
}

%bg-color-brand {
  background-color: $color-brand;
}

%bg-color-accent {
  background-color: $color-accent;
}
