/*===================
    Media Queries
===================*/

/*--------------
    Handheld
--------------*/

@include breakpoint(max, $breakpoint-handheld-big) {

  .site-header {
    margin-top: $spacing-unit-base;
  }

  .site-nav {
    margin-top: $spacing-unit-big * 1.25;
  }

  .site-footer {
    margin-top: $spacing-unit-big;
  }

  .pagination {
    margin-top: $spacing-unit-medium;
  }

}

@include breakpoint(max, $breakpoint-handheld-medium) {

  body {
    font-size: 112.5%;
  }

  .site-header {
    margin-top: $spacing-unit-medium;
  }

  .site-nav {
    margin-top: $spacing-unit-base;
  }

}

@include breakpoint(max, $breakpoint-handheld-small) {

  body {
    font-size: 100%;
  }

  .site-header,
  .site-nav {
    float: none;
  }

  .page,
  .post,
  .comments {
    margin-top: $spacing-unit-base;
  }

}
