/*===================
    Media Queries
===================*/

/*------------
    Screen
------------*/

@include breakpoint(max, $breakpoint-screen-medium) {

  .box__wrapper {
    width: 60%;
  }

}

@include breakpoint(max, $breakpoint-screen-small) {

  .box__wrapper {
    width: 70%;
  }

}

/*--------------
    Handheld
--------------*/

@include breakpoint(max, $breakpoint-handheld-big) {

  .box {
    padding: ($spacing-unit-base * 2) 0;
  }

  .box__wrapper {
    width: 75%;
  }

  .l-post {
    margin-bottom: $spacing-unit-base * 2;
  }

}

@include breakpoint(max, $breakpoint-handheld-medium) {

  body {
    font-size: 125%;
  }

  .box__wrapper {
    width: 80%;
  }

}

@include breakpoint(max, $breakpoint-handheld-small) {

  body {
    font-size: 112.5%;
  }

  .box {
    padding: $spacing-unit-base 0;
  }

  .box__wrapper {
    width: 85%;
  }

}

@include breakpoint(max, $breakpoint-handheld-mini) {

  body {
    font-size: 100%;
  }

  .box__wrapper {
    width: 90%;
  }
  
  .br-button--full {
    margin-top: $spacing-unit-mini;
    min-width: 96px;
  }

}
