/*============
    Rulers
============*/

hr {
  width: 100%;
  height: 1px;
  border: none;
  @extend %bg-color-accent;
  @extend %spacing-base-bottom;
}

%line {
  min-width: 100%;
  height: 3px;
  @extend %bg-color-brand;
}

.line-top {
  @extend %line;
}

.line-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  @extend %line;
}
