/*------------
    Tables
------------*/

table {
  width: 100%;
  @extend %spacing-base-bottom;
}

thead {
  background-color: $color-brand;
  color: $body-font-color;
}

th,
td {
  padding:  $spacing-unit-mini $spacing-unit-small;
  border-bottom: 1px solid $color-offset;
  @extend %text-left;
}

td {
  vertical-align: top;
}
