---
layout: default
title: Archives
---

<article class="page">
<h1>{{ page.title }}</h1>
  <h2>Tags</h2>
    <ul class="nav  list--tags">
      {% for tag in site.tags %}
        <li>
          <a href="/blog/tag/{{ tag[0] }}/" alt="{{ tag[0] }}">{{ tag[0] }}</a>
        </li>
      {% endfor %}
    </ul>
  <h2>Posts</h2>
  {% for month in page.months %}
  <h3>{{ month | date: '%B' }} {{ month | date: '%Y' }}</h3>
    <ul class="list--posts">
    {% for post in page.posts_by_month[month] %}
      <li>
        <span class="list--posts__date">{{ post.date | date: "%b %e, %Y" }}:</span>
        <a href="{{ post.url }}" alt="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
</article><!-- .page -->
