---
layout: default
title: Archives
---

<article class="l-page">
<h1>{{ page.title }}</h1>
  <p>
    Down below you'll find this site's full archive, split up in to either tags or monthly sections with links to each and every single post.
  </p>
  <h2>Tags</h2>
    <ul class="hidden-list">
      {% for tag in site.tags %}
        <li>
          <a href="/blog/tag/{{ tag[0] }}/" alt="{{ tag[0] }}">{{ tag[0] }}</a>
        </li>
      {% endfor %}
    </ul><!-- .hidden-list -->
  <h2>Posts</h2>
  <p>
    <a class="button button--even" id="js-random-post" href="#" alt="Go to a random post">Random post</a><!-- jQuery-generated URL -->
  </p>
  {% for month in page.months %}
  <h3>{{ month | date: "%B" }} {{ month | date: "%Y" }}</h3>
    <ul>
    {% for post in page.posts_by_month[month] %}
      <li>
        {{ post.date | date: "%b %e, %Y" }}:
        <a class="js-post-link" href="{{ post.url }}" alt="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
</article><!-- .l-page -->
